
.container-fluid{
    padding: 0 !important;
    position: relative;
    text-align: center;
    min-height: calc(100 - 30vh);
}


@media(max-width:991.98px){
    .tap{
        font-size: 2.5rem;
    }
    .tap::after{
        top:6rem;
      
    }
}
@media (max-width: 575.98px) { 
    .top{
        width: 100%;
        font-size: 1.5rem;
    }
}