.logo{
    width: 135px !important;
}
.navitem{
    padding: 0px 1.5%;
    max-height: 100px;
}
.itemlist{
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 500;
    color: black !important;
    padding: 5px 3% !important;
    margin-left: 15%;
    
}
.nav-item{
    padding-left: 25px !important;
}
.nav-link{
    color: black !important;
   
}

.dropdown{
    display: inline-block !important;
}
