.top-footer{
    min-height: 65vh;
    background-color: black;
    z-index: 10;
    padding: 5% 25%;
  
}
.top-one{
    color: #fff !important;
   position: relative;
    margin-top: 100px;
   
}
.top-one::after{
    content: "";
    width: 90px;
    height: 3px;
    position: absolute;
    top: 60px;
    background-color: #fff;
   
}
ul{
   
    margin: 0;
    padding: 0;
    margin-top: 40px;
    
}
 li {
    list-style: none;
    font-size: 1.3rem;
   
}
/* .top-footer::after{
    content: "";
    background-image: url('./img/jagged-border.png');
    background-size: cover;
    position: absolute;
    top:65vh;
    width: 100%;
    height: 20px;
    border-top: 10px solid;
} */